#!/bin/false

# QEMU configuration
# ------------------

# Which session to use:
#   system: qemu:///system
#   user:   qemu:///session
cfg_qemu_session="qemu:///system"

# Name of the VM in VirtManager
cfg_machine="nixos-crypt.vm"

# Hostname the ‹$cfg_machine› uses internally. It is used by some
# network-related virsh commands instead of ‹$cfg_machine›.
cfg_hostname="${cfg_machine%%.*}"

# SSH private key to use to connect to ‹$cfg_machine› as ‹root›.
#cfg_ssh_key="$script_bin/../ssh/id_libvirt"
cfg_ssh_key="$HOME/.ssh/id_libvirt"


# Nix settings
# ------------

# The directory with ‹flakes.nix› and related configuration inside VM.
cfg_flakes="/root/flakes/crypt"


# Traces
# ------

# The directory where to store captures. It is highly recommended to add
# a timestamp or some other value to the directory name. Each capture
# is stored in ‹$cfg_traces_dst/$FLAKE/$ID›.
_cfg_data_dir="$script_bin/data"
cfg_traces_dst="$_cfg_data_dir/collect.crypt.$(date '+%y%m%d').$(ls "$_cfg_data_dir" | wc -l)"

# The directory where TPMSpy creates its traces. It should be the same as
# passed as an argument to the capture plugin, and where ‹tpmspy-*› directories
# are created.
cfg_tpmspy_dir="/var/tmp"

# The default number of captures from each flake.
cfg_default_captures=10
