# Temporary and editor files
*.swp

# Build and distribution directory
/build/
/dist/

# Do not store private keys.
/auto-collect/ssh/
!/auto-collect/ssh/.gitkeep

# Data directory
/data/

# Compile commands
compile_commands.json

# Cache
/.cache/
